*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fira Sans', sans-serif;
    background-color: rgb(242, 242, 242);
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 160px;
    max-width: 1280px;
    align-items: center;
}

nav button{
    padding: 15px 30px;
    border: solid 1px #006A50;
    color: #006A50;
    background-color: white;
    border-radius:8px;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
}

.hero {
    align-items: center;
}

.hero-container{
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    padding: 80px 100px;
    margin: 0px 160px 80px 160px;
    background-color:  rgba(198, 228, 214, 1);
    border-radius: 24px;
    overflow: hidden;
}

.hero-container h3{
    font-weight: 500;
    font-size: 15px;
    line-height: 29px;
    font-family: 'Fira Sans', sans-serif;
    font-style: medium;
    color: rgba(14, 14, 14, 0.5);
    text-align: left;
    margin-bottom: 6px;
}

.hero-container h1{
    color: rgba(14, 14, 14, 1);
    font-weight: 700;
    font-size: 30px;
    width: 295px;
    height: auto;
    margin-bottom: 24px;
}

.hero-container img{
    width: 300px;
    height: auto;
}

.btn-1{
    padding: 12px 30px;
    border: none;
    background-color: #006A50;
    color: white;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Fira Sans', sans-serif;
    transition: transform 0.2s ease-in;
}

.section-card{
    margin: 0px 160px 80px 160px;
    max-width: 1280px;
}
.section-card p{
    margin-top: 14px;
}
.piller-card-container{
    display: flex;
    max-width: 1280px;
    margin-top: 32px;
    gap: 24px;
}

.cards{
    display: grid;
    background-color: #ffffff;
    border-radius: 16px;
    padding: 24px;
    border: solid 1px #D5D6D8  ;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.073);
    transition: transform 0.2s ease-in;

}

.cards:hover{
    transform: scale(1.05);
}

.piller-card-container img{
    height: 64px;
    width: 64px;
    margin-bottom: 24px;
}

.piller-card-container h3{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    margin-bottom: 10px;
}

.piller-card-container p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
}

.vision-p{
     color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    margin-top: 24px;
}

.vision-card-container{
     display: flex;
    max-width: 1280px;
    margin-top: 32px;
    gap: 24px;
}

.vision-card-container img{
    height: 64px;
    width: 64px;
    margin-bottom: 24px;
}

.vision-card-container h3{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    margin-bottom: 10px;
}

.vision-card-container p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
}


.vision-card1{
    background-color: #5490F533;
    padding: 32px;
    border-radius: 16px;
}

.vision-card1 button{
       padding: 11px 20px;
    border: none;
    background-color: #5490F5;
    color: white;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 24px;
}

.vision-card2{
    background-color: #d7ffec;
    padding: 32px;
    border-radius: 16px;
}

.vision-card2 button{
       padding: 11px 20px;
    border: none;
    background-color: #09A15C;
    color: white;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 24px;
}

.vision-card3{
    background-color: #FFF7DF;
    padding: 32px;
    border-radius: 16px;
}

.vision-card3 button{
       padding: 11px 20px;
    border: none;
    background-color: #FFC239;
    color: white;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 24px;
}

.quote{
    border: solid 1px gray;
    background-color: white;
    background: url(../assets/quote-bg.png);
    background-position: 25px 15px;
    background-repeat: no-repeat;
    margin-top: 32px;
    border-radius: 16px;
    padding: 48px 24px;
    max-width: 1280px;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.073);
}

.quote p{
     color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    margin-bottom: 12px;
}

.quote h3{
    color: rgba(14, 14, 14, 0.8);
    font-style: SemiBold;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
}


.th{
    text-align: left;
}

td, th{
    padding: 15px;
}

th{
    background-color: #C6E4D6;
    border-top: solid 1px black;
}
.table{
    padding: 20px;
    background-color: #ffffff;
    border-radius: 16px;
    margin-top: 24px;
    
}
td{
    border: solid 1px black;
   
}
table{
    border-collapse: collapse;
}

.recent-news-div{
    display: flex;
    padding: 40px;
    background-color: white;
    border-radius: 24px;
    margin-top: 25px;
    transition: transform 0.3s ease-in;
}

.recent-news-div:hover{
    transform: scale(1.05);
}

.recent-news-image img{
    
}

.recent-news-texts{
    padding: 10px;
}

.recent-news-texts h2{
    color: rgba(14, 14, 14, 0.8);
    font-style: Bold;
    font-size: 32px;
    font-weight: 700;
}
.recent-news-texts img{
    height: 35px;
    width: auto;
    margin-top: 10px;
}

.recent-news-texts p{
    color: rgba(14, 14, 14, 0.7);
    font-style: Regular;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-bottom: 12px;
}

.donation-card{
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 24px;
}


.d-card{
    padding: 25px 30px;
    background-color: #ffffff;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    transition: transform 0.2s ease-in;
    cursor: pointer;
}

.d-card:hover{
    transform: scale(1.05);
}
.d-card h1{
    color: rgba(14, 14, 14, 0.8);
}

.d-submit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.d-submit input{
    background-color: white;
    padding: 15px 200px;
    border: none;
    text-align: center;
    color: rgba(14, 14, 14, 0.7);
    border-radius: 4px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
}

.newsletter{
    padding: 80px 100px;
    background-color: rgba(198, 228, 214, 1);
    border-radius: 24px;
}

.footer{
    gap: 20px;
}

.btn-1:hover{
    transform: scale(1.05);
    background-color: #008664;
}