*{
    margin: 0px;
    padding: 0px;
}

/* Universal Css */

.button-1{
    padding: 12px 16px;
    background-color: #30B868;
    border: none;
    color: white;
    border-radius: 4px;

}

.button-stroke{
    padding: 12px 16px;
    background-color: transparent;
    border: solid 1px white;
    color: white;
    border-radius: 4px;

}

body{
    font-family: "Inter", sans-serif;
}


/* Specific Css */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;

}

header ul{
    display: flex;
    gap: 32px;
    list-style: none;
}

.hero{
    max-width: 1280px;
    height: 448px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 20px;
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;


}

.hero h1{
   
            font-size: 55px;
            font-weight: 700;
            line-height: 1.2;
            margin-bottom: 20px;
            color: white;
}

.badge{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 8px 10px;
    color: #30B868;
    border-radius: 25px;
}

.dot{
    height: 10px;
    width: 10px;
    margin-right: 8px;
    background-color: #30B868;
    border-radius: 50%;
    box-shadow: 0 0 0 2px rgba(77, 164, 101, 0.3);

}

.green-h1{
    display: block;
    color: #30B868;
}

.hero p{
    font-size: 18px;
    line-height: 24px;
    max-width: 700px;

}

.hero-button{
    display: flex;
    justify-content: center;
    margin-top: 24px;
    gap:34px;
}

.note-section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.h1{
    margin-top: 34px;
    font-size: 38px;
    font-style: bold;
}

.p{
    margin-top: 8px;
    font-size: 12px;
    color: grey;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
    padding: 15px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #F95555;
}

.card{
    display: block;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 50px 30px 15px 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.078);
}

.card-container{
    display: flex;
    gap: 24px;
    padding: 10px 40px;
    margin: 20px 60px;
}

